<div class="panel panel-default">
    <div class="panel-heading">
        <h5><span style="color: red">Get</span> authentic child care center and pre-school reviews</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-left: -20px">
                    <ul>
                        <li>Ratings and Reviews come from real parents/guardians like you, not anonymous users</li>
                        <li>Reviews are independent and not influenced by child care center providers</li>
                        <li>Basic facts about each child care center</li>
                        <li>Alerts on penalties imposed against child care centers in your neighborhood</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-warning" ui-sref="join">
                    <span style="color: green; font-size: 24px">Join Today</span><br/>
                    <span style="color : black">to write a review</span>
                </a>
            </div>
        </div>

    </div>
</div>