<div class="row">
    <div class="col-md-9">
        <div>
            <div><span style="color: red">How</span> we started</div>
            <hr>
            <div>
                In the summer of 2012, our families decided it was time for our pre-schoolers to get started on a structured early learning program.
                We strongly believe laying a solid educational foundation for our kids better prepares them for a lifelong of learning.
                <br/>
                Essential to laying that solid foundation was finding a pre-school program that not only prepares them for school but also empower them to be independent thinkers
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div data-ng-include src="'/views/top-rated.html'" data-ng-controller="ListingsController"></div>
    </div>

</div>
