<div class="row">
    <div data-ng-form="loginForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="userName" placeholder="User Name" data-ng-model="viewModel.userName" data-ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" placeholder="Subject Line Here" data-ng-model="viewModel.password" data-ng-required="true">
            </div>
        </div>
        <div class="checkbox" style="margin-bottom: 10px">
            <div class="col-sm-offset-2 col-sm-4">
                <label>
                    <input type="checkbox">Remember Me
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default" data-ng-click="login()" data-ng-disabled="loginForm.$invalid">LOG IN<span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>

    </div>

</div>