<div class="panel panel-default">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">How We Started</a></li>
            <li><a href="#">Child Center Reviews</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="border-color: #A5A5A5">
                    <div><h3>{{title}}</h3></div>
                    <hr>
                    <div>
                        Get Detailed reviews on local day cares, child care centers and pre-schools.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>