<div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div><h3><span style="color: red">Get</span> authentic child care center and pre-school reviews</h3></div>
                <hr>
                <div>
                    <div>Get Detailed reviews on local day cares, child care centers and pre-schools.</div>
                    <div style="margin-left: -20px">
                        <ul>
                            <li>Ratings and Reviews come from real parents/guardians like you, not anonymous users</li>
                            <li>Reviews are independent and not influenced by child care center providers</li>
                            <li>Basic facts about each child care center</li>
                            <li>Alerts on penalties imposed against child care centers in your neighborhood</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>