<div class="row">
    <div class="col-md-9">
        Childskeeper.com does not endorse or recommend any of the childcare providers listed on its site, and cannot be held responsible or liable in any way for
        your dealings with them. We provide this site as a directory/personal review to assist you in making pre-school decisions in your area.
        <br/>
        Childskeeper.com does not guarantee the accuracy of listings on its site. However, we do strive to keep listings accurate.
    </div>
    <div class="col-md-3">
        <div data-ng-include src="'/views/top-rated.html'" data-ng-controller="ListingsController"></div>
    </div>

</div>