<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h5><span style="color: red">R</span>eviews</h5></div>
                <div class="panel-body">
                    Childskeeper.com does not endorse or recommend any of the childcare providers listed on its site, and cannot be held responsible or liable in any way for
                    your dealings with them. We provide this site as a directory/personal review to assist you in making pre-school decisions in your area.
                    <br/>
                    Childskeeper.com does not guarantee the accuracy of listings on its site. However, we do strive to keep listings accurate.
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div data-ng-model="viewModel.activeTab" bs-tabs="viewModel.tabs"></div>
        </div>
    </div>
</div>

