.child-contents{
    height: 600px;
    background-color: #e7e7e7;
    margin-left: 134px;
    margin-right: 133px;
    margin-top: -25px;
    padding: 25px 25px 25px 25px;
}

.child-inner{
    border-radius : 6px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;
    height: 550px;
    padding: 5px 5px 5px 5px;
}